<h1 class="mb-8 text-3xl font-semibold text-gray-900"><%= table[:header] %></h1>

<div class="overflow-x-auto">
 <table class="w-full">
   <thead>
     <tr class="border-b-2 border-gray-200">
       <% table[:columns].each do |column| %>
         <th class="px-2 py-4 text-sm font-semibold tracking-wide text-left text-gray-800 uppercase"><%= column[:label] %></th>
       <% end %>
     </tr>
   </thead>
   <tbody class="divide-y divide-gray-100">
     <% table[:items].each do |item| %>
       <tr class="transition-colors hover:bg-gray-50">
         <% table[:columns].each do |column| %>
           <td class="px-2 py-4 text-gray-700"><%= item.send(column[:accessor]) %></td>
         <% end %>
       </tr>
     <% end %>
   </tbody>
 </table>
</div>