<main class="px-4 py-6 mx-auto max-w-7xl rounded-2xl border shadow-md border-slate-200">
    
    <section>
    <div class="flex flex-wrap justify-between items-center px-6 py-4 mb-6">
        <h2 class="text-xl font-semibold text-gray-800">Projects</h2>
        <div class="px-4 py-2 font-medium text-center text-white bg-indigo-400 rounded-lg border w-1/8 hover:bg-indigo-500">
            <%= link_to "Create Project" %>
        </div>
    </div>
    <%# Projects list header %>
    <div class="flex justify-between px-6 py-2 font-bold text-gray-800 bg-amber-50 rounded-xl border-2 border-slate-200">
        <div class="border">ID</div>
        <div class="border">Name</div>
        <div class="border">Actions</div>
    </div>
 </section>
 <%# Potential table structure %>
        <table class="w-full">
        <thead>
            <tr class="border border-gray-100">
                <th class="px-6 py-3 text-left">
                    <p class="font-medium text-gray-500">ID</p>
                </th>
                <th class="px-6 py-3 text-left">
                    <p class="font-medium text-gray-500">Name</p>
                </th>
                <th class="px-6 py-3 text-left">
                    <p class="font-medium text-gray-500">Actions</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-t border-gray-100">
                <td></td>
            </tr>
        </tbody>
    </table>
</main>

<%# px-4 py-2 w-1/4  %>

 